{% extends 'base.html.twig' %}

{% block title %}Projects{% endblock %}

{% block body %}

<div class="wrapper">
    <div class="project-display flex">
        <div class="project-project flex shadow">
            <div class="project-project-header">
                <div class="projects-section-header">
                    <p>Create a new Project</p>
                </div>
            </div>
            <div class="project-create">
                <form class="project-create-form flex" data-path="{{ path('app_api_project_create') }}">
                    <div class="project-create-form-list flex">
                        <i class="fas fa-file-signature"></i>
                        <input type="text" class="project_name" name="project_name" placeholder="Enter the Project name" required>
                    </div>
                    <div class="project-create-form-list flex">
                        <i class="fas fa-info-circle"></i>
                        <input type="text" class="project_status" name="project_status" placeholder="Enter the Project status" required>
                    </div>
                    <div class="project-create-form-list flex">
                        <i class="fas fa-table"></i>
                        <input type="date" class="project_timeline" name="project_timeline" required>
                    </div>
                    <div class="project-create-form-list flex">
                        <i class="fas fa-users"></i>
                        <select name="project_user" class="project_user" multiple>
                            {% for user in users %}
                            {% if user.status != "Offline" and user != app.user %}
                            <option value="{{ user.getId }}">{{ user.getUsername }}</option>
                            {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                     <button class="chat-send-btn">Send</button>
                </form>
            </div>
        </div>
        <div class="project-list flex shadow">
            <div class="project-list-top">
                <div class="new-project">
                    
                </div>
            </div>
            <div class="project-list-bottom">
                <div class="projects-section">
                    <div class="projects-section-header">
                        <p>Projects</p>
                        {% if is_granted('ROLE_ADMIN') %}
                        <button class="project-createOpenBtn">+</button>
                        {% endif %}
                    </div>
                    <div class="projects-section-line">

                        <div class="projects-status">
                            <div class="item-status">
                                <span class="status-number">{{ count|length }}</span>
                                <span class="status-type">In Progress</span>
                            </div>
                            <div class="item-status">
                                <span class="status-number">{{ projects|length }}</span>
                                <span class="status-type">Total Projects</span>
                            </div>
                        </div>
                        <div class="view-actions">
                            <button class="view-btn list-view" title="List View">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-list">
                                    <line x1="8" y1="6" x2="21" y2="6" />
                                    <line x1="8" y1="12" x2="21" y2="12" />
                                    <line x1="8" y1="18" x2="21" y2="18" />
                                    <line x1="3" y1="6" x2="3.01" y2="6" />
                                    <line x1="3" y1="12" x2="3.01" y2="12" />
                                    <line x1="3" y1="18" x2="3.01" y2="18" />
                                </svg>
                            </button>
                            <button class="view-btn grid-view active" title="Grid View">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-grid">
                                    <rect x="3" y="3" width="7" height="7" />
                                    <rect x="14" y="3" width="7" height="7" />
                                    <rect x="14" y="14" width="7" height="7" />
                                    <rect x="3" y="14" width="7" height="7" />
                                </svg>
                            </button>
                        </div>
                    </div>
                    <div class="project-boxes jsGridView">
                        {% for project in projects %}
                        {% if user in project.getProjectMember().toArray %}
                        <div class="project-box-wrapper">
                            <div class="project-box" style="background-color: #fee4cb;">
                                <div class="project-box-header">
                                    <span>{{ project.getProjectTimeline()|date("F,d") }}</span>
                                    <div class="more-wrapper">
                                        <button class="project-btn-more">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-more-vertical">
                                                <circle cx="12" cy="12" r="1" />
                                                <circle cx="12" cy="5" r="1" />
                                                <circle cx="12" cy="19" r="1" />
                                            </svg>
                                        </button>
                                    </div>
                                </div>
                                <div class="project-box-content-header">
                                    <p class="box-content-header">{{ project.getProjectName() }}</p>
                                    <p class="box-content-subheader">{{ project.getProjectStatus() }}</p>
                                </div>
                                <div class="box-progress-wrapper">
                                    <p class="box-progress-header">Progress</p>
                                    <div class="box-progress-bar">
                                        <span class="box-progress" style="width: {{ project.getProjectProgress() }}%; background-color: #ff942e"></span>
                                    </div>
                                    <p class="box-progress-percentage">{{ project.getProjectProgress() }}%</p>
                                </div>
                                <div class="project-box-footer">
                                    <div class="participants">
                                        <img src="https://images.unsplash.com/photo-1438761681033-6461ffad8d80?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=2550&q=80" alt="participant">
                                        <img src="https://images.unsplash.com/photo-1503023345310-bd7c1de61c7d?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MTB8fG1hbnxlbnwwfHwwfA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=900&q=60" alt="participant">
                                        <button class="add-participant" style="color: #ff942e;">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus">
                                                <path d="M12 5v14M5 12h14" />
                                            </svg>
                                        </button>
                                    </div>
                                    <div class="days-left" style="color: #ff942e;">
                                        {% set difference = date(project.getProjectTimeline()).diff(date("now")) %}
                                        {% set leftDays = difference.days %}
                                        {% if leftDays == 1 %}
                                        1 day left
                                        {% else %}
                                        {{ leftDays }} days left
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}